.game-background {
  /* this was the old background. replaced with the new mountains-1412683_1920_rendered.jpg for performance reasons
  as different browsers render the image differently. */

  /* background:
    url('assets/45-degree-fabric-dark.png'),
    center / cover no-repeat url('assets/mountains-1412683_1920.jpg');
  background-blend-mode: color-burn;  */

  background: center / cover no-repeat url('assets/mountains-1412683_1920_rendered.jpg');
  background-attachment: fixed;
}

.intro-screens-bg {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(assets/green-dust-and-scratches.png);
  backdrop-filter: blur(32px);
}

.postcard-bg {
  background:
    linear-gradient(137deg, rgba(255, 255, 255, 0.4) 0%, rgba(186, 186, 186, 0.1) 100%) padding-box,
    url(assets/beige-paper.png) padding-box,
    linear-gradient(white, white) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  border: 2px solid transparent;
}

.newspaper-bg {
  position: relative;
  border: 2px solid transparent;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.06),
    0 16px 32px rgba(0, 0, 0, 0.04);
}

.newspaper-bg > *:not(.newspaper-layer) {
  position: relative;
  z-index: 2;
}

.newspaper-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /* 
    this was the old background. replaced with the new newspaper_rendered.jpg for performance reasons as
    the browser needs to render multiple divs of the same layered background.
  */
  /*background:
    linear-gradient(137deg, #fff8e4ca, #f9f7f157) padding-box,
    url(assets/crumpled-paper.jpg) center/cover padding-box,
    url(assets/black-paper.png) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  background-blend-mode: normal, multiply; */
  background:
    url(assets/newspaper_rendered.jpg) center/cover padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  border: 2px solid transparent;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.06),
    0 16px 32px rgba(0, 0, 0, 0.04);
}

.newspaper-image {
  filter: sepia(80%) grayscale(70%) contrast(140%) opacity(80%) blur(0.3px);
  mix-blend-mode: multiply;
}
.newspaper-img-bg {
  background:
    linear-gradient(137deg, #fff8e4ca, #f9f7f157) padding-box,
    url(assets/black-paper.png) padding-box;
  background-blend-mode: normal, multiply;
}

.order-form-bg {
  background:
    repeating-linear-gradient(
      transparent,
      transparent calc(calc(var(--spacing) * 8) - 1px),
      rgba(0, 0, 0, 0.1) calc(calc(var(--spacing) * 8) - 1px),
      rgba(0, 0, 0, 0.1) calc(var(--spacing) * 8)
    ),
    linear-gradient(137deg, #ffffffbe, #e3e3e38c) padding-box,
    url(assets/crumpled-paper.jpg) center/cover padding-box,
    url(assets/beige-paper.png) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  background-blend-mode: normal, normal, multiply, normal;
  border: 2px solid transparent;
}
