.game-background {
  background:
    url('assets/45-degree-fabric-dark.png'),
    center / cover no-repeat url('assets/mountains-1412683_1920.png');
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.intro-screens-bg {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(assets/green-dust-and-scratches.png);
  backdrop-filter: blur(32px);
}

.postcard-bg {
  background:
    linear-gradient(137deg, rgba(255, 255, 255, 0.4) 0%, rgba(186, 186, 186, 0.1) 100%) padding-box,
    url(assets/beige-paper.png) padding-box,
    linear-gradient(white, white) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  border: 2px solid transparent;
}

.newspaper-bg {
  position: relative;
  border: 2px solid transparent;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.06),
    0 16px 32px rgba(0, 0, 0, 0.04);
}

.newspaper-bg > *:not(.newspaper-layer) {
  position: relative;
  z-index: 2;
}

.newspaper-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background:
    linear-gradient(137deg, #fff8e4ca, #f9f7f157) padding-box,
    url(assets/crumpled-paper.jpg) center/cover padding-box,
    url(assets/black-paper.png) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  background-blend-mode: normal, multiply;
  border: 2px solid transparent;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.06),
    0 16px 32px rgba(0, 0, 0, 0.04);
}


.newspaper-image {
  filter: sepia(80%) grayscale(70%) brightness(1.1) contrast(2) opacity(0.8);
  mix-blend-mode: multiply;
}


.order-form-bg{
  background:
    repeating-linear-gradient(
      transparent,
      transparent calc(calc(var(--spacing) * 8) - 1px),
      rgba(0, 0, 0, 0.1) calc(calc(var(--spacing) * 8) - 1px),
      rgba(0, 0, 0, 0.1) calc(var(--spacing) * 8)
    ),
    linear-gradient(137deg, #ffffffbe, #e3e3e38c) padding-box,
    url(assets/crumpled-paper.jpg) center/cover padding-box,
    url(assets/beige-paper.png) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  background-blend-mode: normal, normal, multiply, normal;
  border: 2px solid transparent;
}
