.game-background {
  background:
    url('assets/45-degree-fabric-dark.png'),
    center / cover no-repeat url('assets/mountains-1412683_1920.png');
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.intro-screens-bg {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(assets/green-dust-and-scratches.png);
  backdrop-filter: blur(32px);
}

.postcard-bg {
  background:
    linear-gradient(137deg, rgba(255, 255, 255, 0.4) 0%, rgba(186, 186, 186, 0.1) 100%) padding-box,
    url(assets/beige-paper.png) padding-box,
    linear-gradient(white, white) padding-box,
    linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgb(186 186 186) 100%) border-box;
  border: 2px solid transparent;
}
